[Unit]
Description=Valkey in-memory data store
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User={{ valkey_user }}
Group={{ valkey_group }}
ExecStart={{ valkey_server_binary }} {{ valkey_config_file }}
ExecStop=/bin/kill -s TERM $MAINPID
RuntimeDirectory={{ valkey_runtime_dir_name }}
RuntimeDirectoryMode=0755
LimitNOFILE={{ valkey_nofile_limit }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
