dir "{{ valkey_data_dir }}"
port {{ valkey_port }}
bind {{ valkey_bind_address }}
daemonize no
supervised {{ valkey_supervision_mode }}
protected-mode {{ 'yes' if valkey_protected_mode else 'no' }}
logfile ""
pidfile "{{ valkey_runtime_dir }}/{{ valkey_service_name }}.pid"
dbfilename dump.rdb
replica-announce-ip {{ valkey_current_address_resolved }}
replica-announce-port {{ valkey_port }}
appendonly {{ 'yes' if valkey_appendonly else 'no' }}
min-replicas-to-write {{ valkey_min_replicas_to_write }}
min-replicas-max-lag {{ valkey_min_replicas_max_lag }}
maxmemory {{ valkey_maxmemory }}
maxmemory-policy {{ valkey_maxmemory_policy }}
repl-diskless-sync {{ valkey_repl_diskless_sync }}
rdbcompression {{ valkey_rdbcompression }}
rdbchecksum {{ valkey_rdbchecksum }}
{% for command in valkey_disable_commands %}
rename-command {{ command }} ""
{% endfor %}
{% for save_rule in valkey_save %}
save {{ save_rule }}
{% endfor %}
{% if valkey_requirepass | length > 0 %}
requirepass {{ valkey_requirepass }}
masterauth {{ valkey_requirepass }}
{% endif %}
{% if valkey_current_address_resolved != valkey_primary_address_resolved %}
replicaof {{ valkey_primary_address_resolved }} {{ valkey_port }}
{% endif %}
{% if valkey_extra_config | trim %}
{{ valkey_extra_config | trim }}
{% endif %}
